@model ComicViewModel
@{
    ViewBag.Title = "Add New Comic";
}
<form method="post">
    <label asp-for="Name">Comic Name:</label>
    <br />
    <input asp-for="Name" />
    <br />
    <label asp-for="Publisher">Publisher:</label>
    <br />
    <input asp-for="Publisher" />
    <br />
    <label asp-for="Issue">Issue:</label>
    <br />
    <input asp-for="Issue" />
    <br />
    <input type="submit" value="Send Message" />
</form>
