@{
    ViewBag.Title = "Add New Comic";
}
<form method="post">
    <label>Comic Name:</label>
    <br />
    <input name="name" />
    <br />
    <label>Publisher:</label>
    <br />
    <input name="publisher" />
    <br />
    <label>Issue:</label>
    <br />
    <input name="issue" />
    <br />
    <input type="submit" value="Send Message" />
</form>
